@tailwind base;
@tailwind components;
@tailwind utilities;

.fpt-gradient {
  background: linear-gradient(94deg, #00c842 18.43%, #f37021 82.32%) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}